CREATE TABLE IF NOT EXISTS empresas ( id UUID PRIMARY KEY DEFAULT gen_random_uuid(), nome TEXT NOT NULL, status TEXT DEFAULT 'ativo', plano TEXT DEFAULT 'starter', data_vencimento DATE, created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP );
